<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/header.ejs %>
</head>
<body>
    <h1><%= assassin[0].assassinName %>'s Profile</h1>
    <% include ../partials/navButtons.ejs %>
    <div class='table'>
        <table>
            <thead>
                <colgroup span="8"></colgroup>
                <th>Assassin ID</th>
                <th>Assassin Name</th>
                <th>Code Name</th>
                <th>Weapon</th>
                <th>Contact Info</th>
                <th>Age</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Kills</th>
            </thead>
            <tbody>
                <tr>
                    <td><%= assassin[0].assassinId%></td>
                    <td><%= assassin[0].assassinName %></td>
                    <td><%= assassin[0].codeName %></td>
                    <td><%= assassin[0].weapon %></td>
                    <td><%= assassin[0].contactInfo %></td>
                    <td><%= assassin[0].age %></td>
                    <td><%= assassin[0].minPrice %></td>
                    <td><%= assassin[0].rating %></td>
                    <td><%= assassin[0].kills %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="/assassin/edit/<%= assassin[0].assassinId %>"><button>Edit Assassin</button></a>
    <a href="/assassin/delete/<%= assassin[0].assassinId %>"><button>Remove Assassin</button></a>
    <div>
        <h1>Current Contracts</h1>
        <table>
            <thead>
                <th><a href="contract/<%= assassin[0].contractId %>"></a> Contract Id</th>
                <th>Target</th>
                <th>Target Photo</th>
            </thead>
            <tbody>
                <tr>
                    <td><%= assassin[0].contractId %></td>
                    <td><%= assassin[0].targetName %></td>
                    <td><img src="<%= assassin[0].targetImg %>" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>